@charset "utf-8";
/* CSS Document */
	body{
		margin-top: -1em;
		margin-left: -2.3em;
		margin-right: -3em;
		background-color: #000000;
	}
	.menu{
		width: 100%;
		margin-left: -4em;
	}
	.main{
		margin-left: 2.7%;
		position:absolute; 
		width: 100%;
		height: 100%;
		background-image: url(../images/16.jpg) ;
		background-repeat:no-repeat;
        background-size:100% 100%;
        -moz-background-size:100% 100%;
		clear: both;
		text-align: center;
	}
	
	.media{
		position: fixed;
		right: 10px;
		bottom: 1em;
		width: 25%;
		height: 14em;
		
	}
	.radio{
		width: 100%;
		height: 100%;
	}
	
	.all{
		text-align: center;
		margin-top: 4.7em;
		margin-left: 2.5%;
		height: 85%;
		width: 95%;
		border: 5px solid #4F1819 ;
		background-color: rgba(163,171,171,0.60);
	}
	